@font-face {
  font-family: "Ascender Sans W01 Regular";
  src: url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.eot");
  src: url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.svg#Ascender Sans W01 Regular")
      format("svg");
}

.PostCard-parent {
  cursor: pointer;
  width: 515px;
  height: 230px;
  margin-top: 5%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Ascender Sans W01 Regular", sans-serif;
  position: relative;
}
.vlc-timeMark {
  display: flex;
  justify-content: space-between;
}
.vlc {
  display: flex;
}
.timeMark {
  display: flex;
}
.timeMark-item {
  display: flex;
  align-items: center;
}
.timeMark-item svg {
  width: 1em;
  height: 1em;
}

.eye-views {
  display: flex;
  align-items: center;
}
.eye-views svg {
  width: 1em;
  height: 1em;
}

.thumb-likes {
  display: flex;
  align-items: center;
}
.thumb-likes svg {
  width: 1em;
  height: 1em;
}

.svg-comments {
  display: flex;
  align-items: center;
}
.svg-comments svg {
  width: 1em;
  height: 1em;
}

.thumb-likes,
.svg-comments {
  margin-left: 1em; /* Adjust this value to increase or decrease the space */
}
.eye-views svg,
.thumb-likes svg,
.svg-comments svg {
  margin-right: 0.3em;
}

.timeMark .timeMark-item p {
  margin-right: 1em;
}

.industry p {
  color: #bcbcc0;
}
.title p {
  font-size: larger;
}

/* ! Important  */
.cu-vlc-parent {
  position: relative;
  bottom: 18px;
}
.company-username {
  position: relative;
  top: 25px;
}
.main-content p {
  color: #bcbcc0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
