/* @tailwind base; */
/* @tailwind components;
@tailwind utilities; */


/* * {
  border: 1px solid red;
} */

/* Ensure padding and border are included in the element's total width and height */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} */





















/* ! Header.jsx CSS start */

/* ! Header.jsx CSS END */

/* ? TopNavigation.jsx CSS start */


/* ? TopNavigation.jsx CSS End */

/* ! SignUpForm CSS Start */

/* ! SignUpForm CSS End */
